body{
margin:0;
font-family:Arial;
}


/* TASK 1 */

.task1{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f2f2f2;
}

.center-box{
width:150px;
height:150px;
background:orange;
display:flex;
justify-content:center;
align-items:center;
font-weight:bold;
}



/* TASK 2 */

.task2{
width:80%;
margin:auto;
display:flex;
justify-content:space-between;
margin-top:40px;
}

.row-box{
width:150px;
height:150px;
background:skyblue;
display:flex;
justify-content:center;
align-items:center;
}



/* TASK 3 */

.task3{
display:flex;
flex-wrap:wrap;
gap:20px;
padding:40px;
}

.res-box{
width:200px;
height:150px;
background:lightgreen;
display:flex;
justify-content:center;
align-items:center;
}



/* TASK 4 */

.products{
display:flex;
justify-content:center;
gap:20px;
padding:40px;
}

.product-card{
width:200px;
padding:15px;
box-shadow:0 0 10px gray;
text-align:center;
}

.product-card img{
width:100%;
}

button{
padding:8px 15px;
background:blue;
color:white;
border:none;
cursor:pointer;
}



/* TASK 5 */

.profiles{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;
padding:40px;
}

.profile-card{
width:180px;
padding:20px;
text-align:center;
box-shadow:0 0 8px gray;
}

.profile-card img{
border-radius:50%;
}